<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">F8 education</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      {{!-- <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li> --}}
      {{!-- <li class="nav-item">
        <a class="nav-link" href="/courses/create">Đăng khóa học</a>
      </li> --}}

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="https://scontent.fsgn13-3.fna.fbcdn.net/v/t31.18172-8/27709368_549147148774431_3268812603996630567_o.jpg?_nc_cat=108&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=QozN39Qlc14AX8G-1AY&_nc_ht=scontent.fsgn13-3.fna&oh=00_AfA22Pk_SYSKa2wN4Q3HIBuJ8PtdyQDVL2mfHdDDdAWRbA&oe=6423FE22" alt="Ảnh đại diện" class="user-avatar">
          Tân Nguyễn
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/courses/create">Đăng khóa học</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/me/stored/courses">Khóa học của tôi</a>
          <a class="dropdown-item" href="/me/stored/news">Bài viết của tôi</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Đăng xuất</a>
        </div>
      </li>

    </ul>
  </div>
  </div>
</nav>